.check-container {
  padding: 1vw;

  form {
    margin-bottom: 3vh;
  }

  p {
    color: $gray;
  }
}

.slots-list {
  display: flex;
  flex-direction: column;

  .slot-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 1vh;
    background-color: white;
    padding: 1vw;
  }
}

.time-frame {
  font-size: 18px;
  font-weight: 400;
}
