/* Festival List & Individual Items */
.page-title {
  text-align: center;
  color: $blue-green;
  margin-bottom: 4vh;
}

.festival-description {
  text-align: center;
  padding: 3vw;

  .festival-location {
    color: #666;
    margin-top: 2vh;
  }

  .festival-dates {
    color: #666;
    margin-top: 2vh;
  }
}
