/* Festival Details Page Styles */
.festival-details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid $light-blue;
  padding: 5vw;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  h2 {
    color: $dark-blue;
  }

  h3 {
    color: $blue-green;
    font-weight: 600;
    font-size: 18px;
  }

  img {
    width: 100%;
    margin-block: 1vh;
    border-radius: 20px;
  }
}

.festival-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 2vw;
}

.festival-love-pods {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $light-blue;
  padding: 3vw;
  border-radius: 1.25rem;
  margin-bottom: 3vh;
}

.butt-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 2vw;
}

.love-pods-list {
  row-gap: 1vw;
  column-gap: 1vw;

  a {
    text-decoration: none;
    border: 1px solid $blue-green;
    border-radius: 1.25rem;
    padding: 0.4rem;
  }
}

.festival-actions {
  row-gap: 3vw;
  column-gap: 2vw;
}

.love-pod {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  list-style-type: none;
  flex-grow: 1;
}
