<!-- app/views/bookings/show.html.erb -->

<h2>Booking Details</h2>

<p><strong>Date:</strong> <%= @booking.booking_date %></p>
<p><strong>Time Slot:</strong> <%= @booking.start_time.strftime("%I:%M %p") %> for <%= @booking.duration %> minutes</p>


