<div class="booking-container">
  <% if @confirmed_bookings.any? && @pending_bookings.any? %>
    <h3>My pending bookings</h3>
      <%= render "pending_booking_details" %>
    <h3>My confirmed bookings</h3>
      <%= render "confirmed_booking_details" %>

  <% elsif @pending_bookings.any? %>
    <h3>My pending bookings</h3>
      <%= render "pending_booking_details" %>

  <% elsif @confirmed_bookings.any? %>
    <h3>My confirmed bookings</h3>
      <%= render "confirmed_booking_details" %>

  <% else %>
    <p>You don't have any upcoming bookings.</p>
  <% end %>

  <h3>My past bookings</h3>
    <p>You don't have any past bookings.</p>
</div>
