/* Global Styles */
@import "config/colors";
@import "config/fronts";
@import "components/index";
@import "pages/index";

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: $very-light-blue;
  padding: 6vw;
  font-size: 14px;

  a {
    color: $blue-green;
    text-decoration: none;
  }

  a:hover {
    color: $darker-blue-green;
    text-decoration: none;
  }

  h2 {
    margin-top: 1vh;
    text-align: center;
  }

  h3 {
    color: $blue-green;
    font-weight: 600;
    font-size: 18px;
  }

  .grey-text {
    color: $gray
  }
}


/* Links */
